DJANGO_SECRET_KEY=rajlee499123@@@

DJANGO_DEBUG=0

DJANGO_ALLOWED_HOSTS=pos.worldlinksecurity.co.tz,127.0.0.1,localhost

DJANGO_CSRF_TRUSTED_ORIGINS=https://pos.worldlinksecurity.co.tz

BEEM_API_KEY=10b681b9056a72c5
BEEM_SECRET_KEY=YzIyNDdhOTI4MWFjYWNkZjMzODAxN2YxNzg1NzhmOGZjZjVhY2MyZjZkNDg3ZDJiN2Y5OGJjYmQ3ZTc4ODM0Ng==
BEEM_SENDER_ID=WORLDLINK
BEEM_SEND_URL=https://apisms.beem.africa/v1/send
BEEM_BALANCE_URL=https://apisms.beem.africa/public/v1/vendors/balance
BEEM_TIMEOUT=20
BEEM_SMS_BATCH_SIZE=50
SMS_MAX_RECIPIENTS_PER_SEND=500
BEEM_DLR_TOKEN=PUT_A_LONG_RANDOM_TOKEN_HERE